body {
  font-size: 1.6rem;
  font-family: $font;
  background: $white;
}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 400px 200px 1fr;
  grid-template-areas: "driver info legs map";
  & > * {
    border-right: 2px solid lighten($hover-blue, 20%);

  }
}

.card {
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  :hover {
    background-color: lighten($hover-blue, 30%);
    cursor: pointer;
  }
}


ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}