$blue: rgb(81,112,167);
$hover-blue: rgb(129,147,199);
$warm-grey-three: #787878;
$brownish-grey: #686868;
$font: 'Lato', sans-serif;
$white: #fff;
$black: #000;
$secondary-color: #103063;
$secondary-color-hover: #143f85;
$light-color: #f4f4f4;
$color-white: #fff;
$color-black: #000000;
$dark-grass-green: #417505;

